{% extends 'user/base.html.twig' %}
{% set title = 'delete_subscriber' | trans %}
{% set header_active = blog.name %}
{% set subheader_active = 'subscribers' %}

{% block main %}
    <form class="form" method="post">
        <h3>{{ 'are_you_sure' | trans }}?</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of type and scrambled it
        </p>
        <div class="button-row">
            <a class="button secondary" href="{{ path('blog subscribers', {blogId: blog.id}) }}">{{ 'back' | trans }}</a>
            <button class="button danger" type="submit">{{ 'delete' | trans }}</button>
        </div>
    </form>
{% endblock %}

