{% extends 'user/base.html.twig' %}
{% set title = 'edit_tag' | trans %}
{% set header_active = blog.name %}
{% set subheader_active = 'tags' %}

{% block additional_header %}
    <a class="button secondary" href="{{ path('blog tags', {blogId: blog.id}) }}">{{ 'back' | trans }}</a>
{% endblock %}

{% block main %}
    {% include 'user/forms/tag-form.html.twig' %}
{% endblock %}