{% extends 'layouts/full-width-layout.html.twig' %}
{% set title = 'dashboard' | trans %}
{% set header_active = 'dashboard' %}

{% block main %}
    <div class="activity-chart" id="activityChart"></div>
{% endblock %}