.avatar {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: $color-blue;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 500;
}