* {
    box-sizing: border-box;
    font-family: $font-poppins;
    outline: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $color-light-grey;

    &.overlay-visible {
        height: 100%;
        overflow: hidden;
        padding-right: 3px;
    }
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    color: $color-grey;
}

a, i, button, span {
    text-decoration: none;
    transition: all 0.2s ease;
}
