[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 18px;
    font-size: 13px;
    display: block;
    color: $color-grey;
    white-space: nowrap;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color-light-grey-2;
    background: $color-white;
}

[type="checkbox"]:checked + label:before,
[type="radio"]:checked + label:before{
    border: 1px solid $color-blue;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $color-blue;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    border-radius: 100%;
}

[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
    opacity: 1;
}
