.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:last-of-type {
        margin-bottom: 0;
    }

    .col {
        width: 100%;
    }

    .col-6 {
        width: calc(50% - 5px);
    }
}

.space-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > .content {
        background-color: $color-white;
        box-shadow: $box-shadow;
        padding: 15px;
    }
}