.switch {
    cursor: pointer;
    display: inline-block;

    .slider {
        display: block;
        position: relative;
        width: 40px;
        content: '';
        height: 24px;
        border-radius: 12px;
        background-color: $color-light-grey-2;

        &:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: $color-white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input {
        &:checked + .slider {
            background-color: $color-blue;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $color-blue;
        }

        &:checked + .slider:before {
            transform: translateX(16px);
        }
    }
}