{% extends 'admin/base.html.twig' %}
{% set title = 'edit_blog' | trans %}
{% set header_active = 'blogs' %}

{% block additional_header %}
    <a class="button secondary" href="{{ path('admin blogs') }}">{{ 'back' | trans }}</a>
{% endblock %}

{% block main %}
    {% include 'admin/forms/blog-form.html.twig' %}
{% endblock %}