{% extends 'admin/base.html.twig' %}
{% set title = 'edit_subscriber' | trans %}
{% set header_active = 'subscribers' %}

{% block additional_header %}
    <a class="button secondary" href="{{ path('admin subscribers') }}">{{ 'back' | trans }}</a>
{% endblock %}

{% block main %}
    {% include 'admin/forms/subscriber-form.html.twig' %}
{% endblock %}