{% extends 'admin/base.html.twig' %}
{% set title = 'edit_tag' | trans %}
{% set header_active = 'tags' %}

{% block additional_header %}
    <a class="button secondary" href="{{ path('admin tags') }}">{{ 'back' | trans }}</a>
{% endblock %}

{% block main %}
    {% include 'admin/forms/tag-form.html.twig' %}
{% endblock %}