{% extends 'admin/base.html.twig' %}
{% set title = 'add_user' | trans %}
{% set header_active = 'users' %}

{% block additional_header %}
    <a class="button secondary" href="{{ path('admin users') }}">{{ 'back' | trans }}</a>
{% endblock %}

{% block main %}
    {% include 'admin/forms/user-form.html.twig' %}
{% endblock %}