{% extends 'base.html.twig' %}

{% block body %}
    <header class="header">
        {% block navigation %}{% endblock %}
        <div class="page-title">
            <div class="container">
                <div class="title-container">
                    <h2 class="subtitle">{{ title }}</h2>
                    {% block additional_header_left %}{% endblock %}
                </div>
                {% block additional_header_right %}{% endblock %}
            </div>
        </div>
    </header>
    <main class="main">
        {% include 'shared/includes/messages.html.twig' %}
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
{% endblock %}
