$color-dark-blue: #31394C;
$color-blue: #0078FF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #808080;
$color-light-grey: #F5F5F5;
$color-red: #DE2237;
$color-lightest-grey: #FAFAFA;
$color-light-grey-2: #E6E6E6;
$color-green: #5BC25E;